#sup-header {
    height: 50px;
    background-color: steelblue;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

#nameEmpresa{
    width: 45%;
}

#nameUserGet {
  width: 30%;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

#buttonSettings {
  background-color: transparent;
  border: none;
  color: white;
}

#date{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

#saludo {
  margin-top: 15px;
}

#subMenu {
  width: 200px;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 114, 156, 0.8 );
  color: whitesmoke;
  position: absolute;
  z-index: 200;
}

a{
  color: whitesmoke;
}
