@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
#container-body {
  width: 100%;
  background: rgb(42,18,48);
  background: linear-gradient(125deg, rgba(42,18,48,1) 0%, rgba(50,44,125,1) 55%, rgba(67,173,226,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
